
<div id="content">
                <h1 id="home_heading">“Yesterday, you said tomorrow.”</h1>
                </hr width=50%>
                <p class="lead" id="home_subheading"> Welcome to Bucket ✓.</p>
                <p id='home_text'class="lead">Pen down everything you've wanted to do here. Just start writing! </p> 
                <p class="lead"> <a class="btn btn-primary btn-lg" id="start_button" <%= link_to 'Get Started', new_article_path %> </a></p>
</div>